# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\오윤석\Desktop\github\tensorflow_tutorials\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/beginner/my_dir/
/beginner/saved_model/
/beginner/training_1/
/beginner/training_2/